@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Użytkownicy";
}

<h1>Zarządzanie Użytkownikami</h1>

<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Email / Login</th>
            <th style="width: 20%">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="align-middle fw-bold">@user.Email</td>

                <td>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Czy na pewno usunąć użytkownika @user.Email?');">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            🗑 Usuń
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>